**/.vs
**/.vscode
**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
**/dist
**/.env
**/*.dbmdl
**/*.jfm
**/*.*proj.user
**/docker-compose*
**/.freebuff
**/video_frames*
**/temp_audio*
**/all_transcriptions*
**/transcription*
**/*.db
**/wwwroot
LICENSE
README.md
